/* Main styling */

/* Colors */
@import url("colors.css");

/* Reset defaults */
@import url("reset.css");

/* General */

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--white)
}

/* Navigation */

header {
    background-color: var(--blue);
    color: var(--white);
    padding: 1rem 1rem 1rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.left-side {
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    order: 1;
}

.name {
    color: var(--white);
    cursor: pointer;
    position: relative;
}

.name::before {
    content: '';
    position: absolute;
    background-color: var(--white);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -8px;
    transition: all 0.5s ease;
}

.name:hover::before {
    width: 100%;
}

.right-side {
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    order: 2;
}

.right-side a {
    margin: 0 0.5rem;
    font-size: 22px;
    font-weight: 500;
}

img {
    width: 3rem;
    height: 100%;
}

@media screen and (min-width: 1024px) {
    header {
        background-color: var(--blue);
        color: var(--white);
        padding: 1rem 1rem 1rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .left-side {
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    .right-side {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

/* Main */

main {
    max-width: 1200px;
    margin: 1rem auto;
    display: flex;
    flex-wrap: wrap;
}

main .card {
    height: 220px;
    padding: 1rem;
    margin: 0.5rem;
    background-color: var(--blue);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    flex-basis: calc(50% - 1rem);
}

.card h2 {
    margin: 1rem 0;
}

.see-more {
    color: var(--grey) !important;
    cursor: pointer;
    margin-top: auto;
    display: flex;
    align-self: flex-end;
    align-items: center;
    position: relative;
}

.see-more:hover {
    color: var(--white) !important;
}

.see-more b::before {
    content: '';
    position: absolute;
    background-color: var(--white);
    height: 2px;
    width: 0;
    left: 0;
    bottom: -4px;
    transition: all 0.4s ease;
}

.see-more b:hover::before {
    width: 100%;
}


.see-more img {
    height: 20px;
    width: 20px;
    margin: 0 0 0 0.5rem;
}