/* Main styling */

/* Colors */
@import url("colors.css");

/* Reset defaults */
@import url("reset.css");

/* General */

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--white)
}

/* Navigation */

header {
    background-color: var(--blue);
    color: var(--white);
    padding: 1rem 1rem 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.left-side {
    display: flex;
    align-items: center;
    justify-content: space-between;
    order: 1;
}

.right-side {
    display: flex;
    align-items: center;
    justify-content: space-between;
    order: 2;
}

.left-side h1 {
    color: var(--white);
    cursor: pointer;
}

.right-side a {
    margin: 0 0.5rem;
    font-size: 22px;
    font-weight: 500;
}

img {
    width: 3rem;
    height: 100%;
}

@media screen and (min-width: 1024px) {
    header {
        background-color: var(--blue);
        color: var(--white);
        padding: 1rem 1rem 1rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .left-side {
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    .right-side {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

/* Main */

main {
    max-width: 1200px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
}

main article {
    flex-basis: calc(50% - 1rem);
    height: 200px;
    background-color: var(--blue);
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 5px;
}

article h2 {
    margin: 1rem 0;
}

.see-more {
    display: flex;
    align-items: center;
}


.see-more img {
    height: 20px;
    width: 20px;
}